<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HIPA.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HIPA.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <HIPA.Settings>
            <setting name="URL" serializeAs="String">
                <value>https://exitare.de/HIPA/</value>
            </setting>
            <setting name="Updater" serializeAs="String">
                <value>Updater.exe</value>
            </setting>
            <setting name="InitialStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigFile" serializeAs="String">
                <value>Config.xml</value>
            </setting>
        </HIPA.Settings>
    </applicationSettings>
    <userSettings>
        <HIPA.Settings>
            <setting name="DefaultNormalization" serializeAs="String">
                <value>Baseline</value>
            </setting>
            <setting name="Proxy_URL" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="Proxy_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Proxy_Active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Main_Window_Location_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Main_Window_Location_Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Proxy_Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Proxy_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomOutputPathActive" serializeAs="String">
                <value>False</value>
            </setting>
        </HIPA.Settings>
    </userSettings>
</configuration>